:root {
  --primary-color: #ff8b17;
  --secondary-color: #ffffff;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 0px;
  height: 50%;
}

.navbar {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

.navbar h1 {
  margin: 0;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar ul li {
  margin-left: 10px;
}

.navbar ul li button {
  background-color: transparent;
  border: none;
  color: var(--secondary-color);
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  text-transform: uppercase;
}

.navbar ul li button:hover {
  background-color: rgba(123, 28, 28, 0.2);
  transition: background-color 0.3s ease;
}

.intro h1,
.intro h5 {
  text-align: left;
}

.intro {
  height: 50%;
  width: 50%;
  margin-left: 10%;
  margin-top: 10%;
  text-align: left;
}

.profile-pic {
  height: 50%;
  width: 50%;
  text-align: right;
}

.full {
  display: flex;
  flex-direction: row;
}

.image {
  width: 400px;
  height: auto;
  margin-top: 80px;
  margin-bottom: 0%;
  border-radius: 10%;
}

/*Main Section*/

.about {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.about h1,
.about p {
  text-align: left;
  margin-top: 40px;
  margin-left: 40px;
}

.images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.skills {
  background-color: var(--primary-color);
  text-align: left;
  color: var(--secondary-color);
}

.skills h1,
.skills img {
  margin-top: 50px;
  margin-left: 40px;
  margin-top: 30px;
}

.skills h1 {
  padding-top: 40px;
}

.images img {
  width: 60px;
  height: auto;
  margin-bottom: 8px;
}

.exp {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  margin-left: 40px;
}

.exp a {
  color: var(--primary-color);
  text-decoration: none;
  text-align: left;
}

.contact {
  background-color: var(--primary-color);
  text-align: left;
  color: var(--secondary-color);
}

.contact h1 {
  margin-top: 50px;
  margin-left: 40px;
  margin-top: 30px;
  padding-top: 40px;
}

.contact li {
  margin-left: 40px;
}

.contact ul {
  margin: 0px;
}

.contact a {
  text-decoration: none;
  color: var(--secondary-color);
}

/*Footer*/
.footer {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  text-align: center;
}
